/* Estilos gerais */
.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.hover-zoom:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* Estilo do botão Voltar ao Topo */
#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #10b981;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 28px;
  display: none; /* Inicialmente oculto */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
  
#backToTop:hover {
  background-color: #007aff;
}  

.imagem-container {
  overflow: hidden; /* Garante que a imagem não saia da área visível */
  display: inline-block;
}

.imagem-container img {
  width: 100%; /* Define o tamanho da imagem */
  transition: transform 0.3s ease; /* Transição suave para o efeito de zoom */
}

.imagem-container:hover img {
  transform: scale(1.1); /* Aplica o zoom quando o mouse passa sobre a imagem */
}